<template>
    <button class="konsepsyon__toolsbox__button" @click.prevent="add">

        <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg">
            <g>
                <rect height="30" width="13" y="10" x="18.5" stroke-width="1.5" fill="#a0aabf"/>
            </g>
        </svg>
        <div class="konsepsyon__toolsbox__button__title">1 colonne</div>
    </button>
</template>

<script>
    import Button from '../Button'

    export default {
        extends: Button,
        name: 'OneColButton',

        mounted() {
            this.type = 'OneColBloc'
            this.data = {
                content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'
            }
            this.appearance = {
                verticalAlign: 'top',
                padding: '1em',
                backgroundColor: '#fff',
                margin: '0 auto',
                maxWidth: '960px'
            }
        }
    }
</script>