<template>
    <button class="konsepsyon__toolsbox__button" @click.prevent="add">
        <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg">
            <g>
                <rect height="30" width="13" y="10" x="1.5" fill="#a0aabf"/>
                <rect height="30" width="13" y="10" x="18.5" fill="#a0aabf"/>
                <rect height="30" width="13" y="10" x="35.5" fill="#a0aabf"/>
            </g>
        </svg>
        <div class="konsepsyon__toolsbox__button__title">3 colonnes</div>
    </button>
</template>

<script>
    import Button from '../Button'

    export default {
        extends: Button,
        name: 'ThreeColsButton',

        mounted() {
            this.type = 'ThreeColsBloc'
            this.data = {
                content1: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
                content2: 'Voluptatibus, cumque. Minus laboriosam est.',
                content3: 'Vitae sunt odit aspernatur voluptate architecto incidunt!'
            }
            this.appearance = {
                verticalAlign: 'top',
                padding: '1em',
                backgroundColor: '#fff',
                margin: '0 auto',
                maxWidth: '960px'
            }
        }
    }
</script>