<template>
    <button class="konsepsyon__toolsbox__button" @click.prevent="add">
        <icon name="heading" scale="2"></icon>
        <div class="konsepsyon__toolsbox__button__title">Titre</div>
    </button>
</template>

<script>
    import Button from '../Button'

    export default {
        extends: Button,
        name: 'TitleButton',

        mounted() {
            this.type = 'TitleBloc'
            this.data = {
                title: 'Titre'
            }
            this.appearance = {
                width: '100%',
                padding: '1em',
                backgroundColor: '#fff',
                maxWidth: '960px',
                margin: '0 auto'
            }
        }
    }
</script>