<template>
	<button class="konsepsyon__toolsbox__button" @click.prevent="add">
		<svg width="50" height="50" xmlns="http://www.w3.org/2000/svg">
			<g>
				<rect id="svg_3" height="30" width="13" y="10" x="10" stroke-width="1.5" fill="#a0aabf"/>
				<rect id="svg_2" height="30" width="13" y="10" x="27" stroke-width="1.5" fill="#a0aabf"/>
			</g>
		</svg>
		<div class="konsepsyon__toolsbox__button__title">2 colonnes</div>
	</button>
</template>

<script>
	import Button from '../Button'

	export default {
		extends: Button,
		name: 'TwoColsButton',

		mounted () {
			this.type = 'TwoColsBloc'
			this.data = {
				content1: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
				content2: 'Voluptatibus, cumque. Minus laboriosam est.'
			}
            this.appearance = {
                verticalAlign: 'top',
                padding: '1em',
                backgroundColor: '#fff',
                margin: '0 auto',
                maxWidth: '960px'
            }
		}
	}
</script>