<template>
    <div class="konsepsyon__image">
        <form v-if="bkgForm === index || bkgForm !== false" @submit.prevent="changeBackground" action="" method="post" enctype="multipart/form-data">
            <input type="file" id="image" name="image">
            <button>OK</button>
            <button @click.prevent="hideForm" class="konsepsyon__image__cancel">Annuler</button>
        </form>
        <button @click="showForm">
            <icon v-if="!visible" name="image"></icon>
        </button>
    </div>
</template>

<script>
    import 'vue-awesome/icons/font'
    import 'vue-awesome/icons/ban'
    import Icon from 'vue-awesome/components/Icon'
    import { mapGetters } from 'vuex'
    import { upload } from '../lib/uploadService'

    export default {
        name: 'BkgImg',

        components: {
            Icon
        },

        props: {
            index: null,
            toColorize: null
        },

        data() {
            return {
                visible: false
            }
        },

        computed: {
            ...mapGetters( [ 'bkgForm' ] )
        },

        methods: {
            changeBackground() {
                const $input = document.getElementById( 'image' )
                const image = $input.files[ 0 ]
                const formData = new FormData()

                formData.append( 'image', image )

                image && upload( formData )
                    .then( ( url ) => {
                        this.$store.dispatch( 'updateBackground', {
                            index: this.index,
                            img: url
                        } )

                        this.hideForm()
                    } )
            },

            showForm() {
                this.visible = true

                this.$store.dispatch( 'bkgForm', this.index )
            },

            hideForm() {
                this.visible = false

                this.$store.dispatch( 'bkgForm', false )
            }
        }
    }
</script>

<style lang="scss" src="../scss/bkgimg.scss"></style>