<template>

</template>

<script>
    import BkgImg from './BkgImg'
    import Delete from './Delete'
    import Copy from './Copy'
    import Color from './Color'
    import DragHand from './DragHand'
    import { mapGetters } from 'vuex'

    export default {
        name: 'Bloc',

        props: {
            isLast: false,
            appearance: {},
            index: null,
            d: {}
        },

        components: {
            Delete,
            Copy,
            Color,
            DragHand,
            BkgImg
        },

        data() {
            return {
                data: {},
                showTools: false,
                className: ''
            }
        },

        mounted() {
            this.data = JSON.parse( this.d )
            this.className = this._generateClassName()

            this.$el.addEventListener( 'click', ( e ) => {
                const $target = e.target;

                if ( !$target.isContentEditable ) {
                    this.hideRte()
                }
            }, true )

            this.$el.addEventListener( 'mouseover', () => {
                this.showTools = true
            }, false )

            this.$el.addEventListener( 'mouseleave', () => {
                this.showTools = false
            }, false )

            this.$el.addEventListener( 'focusout', (e) => {
                const fromRte = e.relatedTarget && e.relatedTarget.parentNode.id === 'konsepsyon__rte'
                const dontHideElements = [
                    'imgUrl',
                    'linkifyInput',
                    'image',
                    'removeImgBtn',
                    'unlink'
                ]
                
                if ( !fromRte && ( !e.relatedTarget || dontHideElements.indexOf( e.relatedTarget.id ) < 0 ) ) {
                    this.hideRte()
                }
            }, false )
        },

        computed: {
            ...mapGetters( [ 'rows', 'rte', 'bkgForm' ] )
        },

        methods: {
            onEdit: function ( e ) {
                this.$store.dispatch( 'updateRow', {
                    index: this.index,
                    target: e.target.dataset.target,
                    value: e.target.innerHTML
                } )
            },

            displayRTE: function ( e ) {
                let $el = e.target
                let rect = $el.getBoundingClientRect()
                let type = 'text'
                let styles = {}
                
                if ( this.rte.el !== $el ) {
                    if ( $el.tagName === 'SPAN' ) { // Si c'est une span on est sur un style ajouté donc on remonte sur la div editable
                        styles = $el.style
                        $el = $el.parentNode
                        rect = $el.getBoundingClientRect()
                    }

                    if ( $el.tagName === 'A' ) {
                        styles = $el.style
                        type = 'link'
                    }

                    if ( $el.tagName === 'FONT' ) {
                        type = 'fz'
                    }

                    if ( $el.tagName === 'IMG' ) {
                        type = 'img'
                    }
                }

                this.$store.dispatch( 'displayRte', {
                    show: true,
                    type: type,
                    x: rect.x + (rect.width / 2),
                    y: rect.y,
                    el: $el,
                    design: styles
                } )
            },

            hideRte() {
                this.$store.dispatch( 'displayRte', {
                    show: false,
                    x: 0,
                    y: 0,
                    el: null
                } )
            },

            _generateClassName() {
                const possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'
                let className = ''

                for ( let i = 0; i < 8; i++ ) {
                    className += possible.charAt( Math.floor( Math.random() * possible.length ) )
                }

                return className
            }
        }
    }
</script>