<template>
	
</template>

<script>
	import Icon from 'vue-awesome/components/Icon'

	export default {
		name: 'Button',

		components: {
			Icon
		},
		
		data () {
			return {
				data: {}
			}
		},

		methods: {
			add: function () {
				this.$store.dispatch('addToRows', {
					row: {
						type: this.type,
						props: this.data,
                        appearance: this.appearance
					}
				});
			}
		}
	}
</script>