<template>
    <div class="konsepsyon__color">
        <Compact :value="color" @input="changeBackground"></Compact>
    </div>
</template>

<script>
    import { Compact } from 'vue-color'

    export default {
        name: 'Color',

        components: {
            Compact
        },

        props: {
            index: null,
            toColorize: null
        },

        data() {
            return {
                color: '#ffffff'
            }
        },

        methods: {
            changeBackground(value) {
                this.toColorize.style.backgroundColor = value.hex

                this.$store.dispatch('updateColor', {
                    index: this.index,
                    color: value.hex
                })
            }
        }
    }
</script>

<style lang="scss" src="../scss/color.scss"></style>