<template>
	<span class="row__copy" @click="copyRow"><icon name="copy"></icon></span>
</template>

<script>
	import 'vue-awesome/icons/copy'
	import Icon from 'vue-awesome/components/Icon'

	export default {
		name: 'Delete',

		props: {
			index: null
		},
		
		components: {
			Icon
		},

		methods: {
			deleteRow () {
				this.$store.dispatch('deleteRow', this.index)
			},

			copyRow () {
				this.$store.dispatch('copyRow', this.index)
			},
		}
	}
</script>

<style src="../scss/copy.scss" lang="scss"></style>