<template>
	<span class="row__delete" @click="deleteRow"><icon name="trash-alt"></icon></span>
</template>

<script>
	import 'vue-awesome/icons/trash-alt'
	import Icon from 'vue-awesome/components/Icon'

	export default {
		name: 'Delete',

		props: {
			index: null
		},
		
		components: {
			Icon
		},

		methods: {
			deleteRow () {
				this.$store.dispatch('deleteRow', this.index)
			}
		}
	}
</script>

<style src="../scss/delete.scss" lang="scss"></style>