<template>
    <span class="konsepsyon__draghand">
        <icon v-if="index > 0" name="angle-double-up"></icon>
        <icon v-if="!isLast" name="angle-double-down"></icon>
    </span>
</template>

<script>
    import 'vue-awesome/icons/angle-double-down'
    import 'vue-awesome/icons/angle-double-up'
    import Icon from 'vue-awesome/components/Icon'

    export default {
        name: 'DragHand',

        props: {
            index: null,
            isLast: null
        },

        components: {
            Icon
        }
    }
</script>

<style lang="scss">
    @import "../scss/_vars";

    .konsepsyon__draghand {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        color: $grey;

        cursor: grab;

        svg {
            display: block;
        }

        &:hover {
            color: $active;
        }
    }
</style>