<template>
    <div id="konsepsyon__preview" :class="mode" class="konsepsyon__preview" :style="{backgroundColor: background}">
        <Rte :show="rte.show" :x="rte.x" :y="rte.y" :el="rte.el" :type="rte.type" :design="rte.design"/>
        <ToolsBoxTop/>
        <table class="row main_row">
            <tr>
                <td>
                    <draggable v-model="tables" @update="updateOrder">
                        <component v-for="(row, index) in rows" :is="$options.components[row.type]" :key="index"
                                   :index="index"
                                   :appearance="row.appearance"
                                   :isLast="index === rows.length - 1"
                                   :d="JSON.stringify(row.props)"></component>
                    </draggable>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import Draggable from 'vuedraggable'
    import TitleBloc from './blocs/TitleBloc'
    import ThreeColsBloc from './blocs/ThreeColsBloc'
    import TwoColsBloc from './blocs/TwoColsBloc'
    import OneColBloc from './blocs/OneColBloc'
    import ToolsBoxTop from './ToolsBoxTop'
    import Rte from './Rte'
    
    export default {
        name: 'Preview',
        
        components: {
            ToolsBoxTop,
            TitleBloc,
            ThreeColsBloc,
            TwoColsBloc,
            OneColBloc,
            Rte,
            Draggable
        },
        
        data() {
            return {
                tables: []
            }
        },
        
        computed: {
            ...mapGetters( [ 'rows', 'rte', 'background', 'mode' ] )
        },
        
        mounted() {
            this.$store.dispatch( 'loadRows' )
            this.tables = this.rows
        },
        
        methods: {
            
            updateOrder( e ) {
                this.$store.dispatch( 'reorderRows', e )
            }
        }
    }
</script>

<style lang="scss" src="../scss/preview.scss"></style>
