<template>
    <div id="konsepsyon__rte" class="konsepsyon__rte" v-if="show" :style="position">
        <template v-if="isText || isColor">
            <button :class="isLeftActive" @mousedown.prevent="_preventBtnClick" @click.prevent="alignLeft">
                <icon name="align-left"></icon>
            </button>
            <button :class="isCenterActive" @mousedown.prevent="_preventBtnClick" @click.prevent="alignCenter">
                <icon name="align-center"></icon>
            </button>
            <button :class="isRightActive" @mousedown.prevent="_preventBtnClick" @click.prevent="alignRight">
                <icon name="align-right"></icon>
            </button>
            <button :class="isJustifyActive" @mousedown.prevent="_preventBtnClick" @click.prevent="alignJustify">
                <icon name="align-justify"></icon>
            </button>
            <span class="sep"></span>
            <button @click.prevent="headerify">
                <icon name="heading"></icon>
            </button>
            <button :class="isItalizeActive" @click.prevent="italize">
                <icon name="italic"></icon>
            </button>
            <button :class="isBoldActive" @click.prevent="boldify">
                <icon name="bold"></icon>
            </button>
            <button @mousedown.prevent="_preventBtnClick" @click.prevent="linkify">
                <icon name="link"></icon>
            </button>
            <button @mousedown.prevent="_preventBtnClick" @click.prevent="sizing">
                <icon name="font"></icon>
            </button>
            <span class="sep"></span>
            <button @mousedown.prevent="_preventBtnClick" @click.prevent="image">
                <icon name="image"></icon>
            </button>
        </template>

        <template v-if="isLink">
            <input @change="updateUrl" id="linkifyInput" type="text" placeholder="https://google.fr" :value="link">
            <button>OK</button>
        </template>

        <template v-if="isFz">
            <range-slider min="0" max="4" step="1" @change="updateFz" v-model="sliderValue"></range-slider>
        </template>

        <template v-if="isImg">
            <input type="text" id="imgUrl" placeholder="https://google.fr" class="large" :class="!link ? ' verry' : ''"
                   :value="link">
            <button v-if="link" id="unlink" class="unlink" @click.prevent="removeImgLink">
                <icon name="unlink"></icon>
            </button>
            <form action="" method="post" enctype="multipart/form-data">
                <input type="file" id="image" name="image">
            </form>
            <div class="konsepsyon__rte__actions">
                <button @click.prevent="addImage">
                    <icon name="check"></icon>
                </button>
                <button id="removeImgBtn" class="remove" @click.prevent="removeImg">
                    <icon name="times"></icon>
                </button>
            </div>
        </template>

        <template v-if="isColor || isText">
            <Compact value="#000" @input="changeColor"></Compact>
        </template>
    </div>
</template>

<script>
    import 'vue-awesome/icons/align-left'
    import 'vue-awesome/icons/align-center'
    import 'vue-awesome/icons/align-right'
    import 'vue-awesome/icons/align-justify'
    import 'vue-awesome/icons/heading'
    import 'vue-awesome/icons/italic'
    import 'vue-awesome/icons/link'
    import 'vue-awesome/icons/bold'
    import 'vue-awesome/icons/image'
    import 'vue-awesome/icons/times'
    import 'vue-awesome/icons/check'
    import 'vue-awesome/icons/unlink'
    import 'vue-awesome/icons/font'
    import RangeSlider from 'vue-range-slider'
    import { Compact } from 'vue-color'
    import throttle from 'lodash.throttle'
    import Icon from 'vue-awesome/components/Icon'
    import { upload } from '../lib/uploadService'

    import 'vue-range-slider/dist/vue-range-slider.css'
    
    export default {
        name: 'Rte',
        
        components: {
            Icon,
            Compact,
            RangeSlider
        },
        
        props: {
            show: Boolean,
            type: String,
            x: Number,
            y: 0,
            el: null,
            design: {}
        },
        
        data() {
            return {
                sliderValue: '0',
                widthOffset: null,
                heightOffset: null,
                selection: null,
                editable: null,
                caretPosition: null,
                styles: null,
                selectionObj: null
            }
        },
        
        updated() {
            if ( document.activeElement.isContentEditable ) {
                this.editable = document.activeElement
            }

            const $colorButtons = document.querySelectorAll( '.vc-compact-color-item' )

            $colorButtons.forEach( ( $btn ) => {
                $btn.removeEventListener( 'mousedown', this._preventBtnClick, false )
            } )

            $colorButtons.forEach( ( $btn ) => {
                $btn.addEventListener( 'mousedown', this._preventBtnClick, false )
            } )

            if ( !this.styles ) {
                this.styles = this.design
            }
            
            try {
                this.widthOffset = this.$el.getBoundingClientRect().width / 2
                this.heightOffset = this.$el.getBoundingClientRect().height / 2
            } catch ( e ) {
            }
        },
        
        mounted() {
            const that = this

            document.addEventListener( 'selectionchange', throttle( function () {
                that._getSelectedText()
            }, 500 ), false )
        },
        
        computed: {
            position() {
                return {
                    left: this.x - this.widthOffset + 'px',
                    top: this.y - this.heightOffset - 40 + 'px'
                }
            },
            
            isText() {
                return this.type === 'text'
            },
            
            isLink() {
                return this.type === 'link'
            },
            
            isImg() {
                return this.type === 'img' || this.el.classList.contains( 'ksp__img' )
            },
            
            isColor() {
                return this.type === 'color'
            },

            isFz() {
                return this.type === 'fz'
            },
            
            link() {
                if ( this.type === 'img' ) {
                    return this.el.parentNode.href
                }
                
                return this.el.href
            },
            
            isLeftActive() {
                const style = this.el.style.textAlign
                
                return style === '' || style === 'left' ? 'active' : ''
            },
            
            isCenterActive() {
                const style = this.el.style.textAlign
                
                return style === 'center' ? 'active' : ''
            },
            
            isRightActive() {
                const style = this.el.style.textAlign
                
                return style === 'right' ? 'active' : ''
            },
            
            isJustifyActive() {
                const style = this.el.style.textAlign
                
                return style === 'justify' ? 'active' : ''
            },
            
            isBoldActive() {
                const style = this.el.style.fontWeight
                
                return style === 'bold' ? 'active' : ''
            },
            
            isItalizeActive() {
                const style = this.el.style.fontStyle
                
                return style === 'italic' ? 'active' : ''
            }
        },
        
        methods: {
            alignLeft( e ) {
                this._align( 'left', e )
            },
            
            alignCenter( e ) {
                this._align( 'center', e )
            },
            
            alignRight( e ) {
                this._align( 'right', e )
            },
            
            alignJustify( e ) {
                this._align( 'justify', e )
            },
            
            italize() {
                document.execCommand( 'italic' )
            },
            
            boldify() {
                if ( this.selection ) {
                    document.execCommand( 'bold' )
                } else {
                    this.el.style.fontWeight = 'bold'
                }
            },
            
            headerify() {
                let styles = this.design
                
                styles.fontWeight = 'bold'
                styles.textTransform = 'uppercase'
                
                this._stilyze( styles )
            },

            linkify() {
                this.range = this._saveSelection()
                this._showRte( 'link' )
            },
            
            changeColor( color ) {
                if ( this.selection ) {
                    document.execCommand( 'foreColor', false, color.hex )
                } else {
                    this.el.style.color = color.hex
                }
            },
            
            updateUrl( e ) {
                this._restoreSelection( this.range )

                document.execCommand('createLink', false, e.target.value)

                this._hideRte()
            },
            
            image() {
                this.range = this._saveSelection()
                this._showRte( 'img' )
            },
            
            addImage() {
                const $input = document.getElementById( 'image' )
                const imgUrl = document.getElementById( 'imgUrl' ).value
                const image = $input.files[ 0 ]
                const formData = new FormData()
                
                let html = '<a class="ksp__img" target="_blank" href="{{imgLink}}"><img style="max-width: 100%;" src="{{imgSrc}}"></a>'
                
                formData.append( 'image', image )
                
                image && upload( formData )
                    .then( ( url ) => {
                        this._restoreSelection( this.range )

                        if ( imgUrl ) {
                            html = html.replace( '{{imgLink}}', imgUrl )
                        } else {
                            html = html.replace( '{{imgLink}}', '' )
                        }

                        html = html.replace( '{{imgSrc}}', url )

                        document.execCommand( 'insertHtml', false, html )

                        this._hideRte()
                    } )
            },
            
            removeImgLink() {
                document.getElementById( 'imgUrl' ).value = ''
                this.el.parentNode.href = ''
            },
            
            removeImg() {
                this.el.parentNode.remove()

                this._hideRte()
            },

            sizing() {
                this.range = this._saveSelection()

                this._showRte( 'fz' )
            },

            updateFz( fz ) {
                this._saveSelection()

                document.execCommand( 'fontSize', false, '+' + fz )
            },

            _preventBtnClick( e ) {
                e.preventDefault()
            },
            
            _hideRte() {
                this.$store.dispatch( 'displayRte', {
                    show: false,
                    type: 'text',
                    x: 0,
                    y: 0,
                    el: null
                } )
            },
            
            _showRte( type = 'text', target = null ) {
                target = target || this.el

                this.$store.dispatch( 'displayRte', {
                    show: true,
                    type,
                    x: this.x,
                    y: this.y,
                    el: target
                } )
            },
            
            _getSelectedText() {
                if ( !this.editable ) {
                    return
                }
                
                let text = ''
                let _selectionObj

                if ( window.getSelection ) {
                    _selectionObj = window.getSelection()

                    if ( !_selectionObj.rangeCount ) {
                        return
                    }

                    if ( _selectionObj.getRangeAt( 0 ).startContainer.parentNode !== this.editable ) {
                        return
                    }

                    text = _selectionObj.toString()
                } else if ( document.selection && document.selection.type != 'Control' ) {
                    text = document.selection.createRange().text
                }

                if ( text !== '' ) {
                    this.selection = text
                    this.selectionObj = _selectionObj
                }
                
                return text
            },
            
            _align( dir ) {
                const selected = this._getSelectedText()
                
                if ( selected ) {
                    this._stilyze( 'text-align: ' + dir + ';' )
                } else {
                    this.el.style.textAlign = dir
                }
            },
            
            _stilyze( styles ) {
                const selected = this.selection
                const span = document.createElement( 'span' )
                const text = document.createTextNode( selected )
                
                span.appendChild( text )
                Object.assign( span.style, styles )
                
                this._replaceText( span.outerHTML )
            },
            
            _generateClassName() {
                const possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'
                let className = ''
                
                for ( let i = 0; i < 8; i++ ) {
                    className += possible.charAt( Math.floor( Math.random() * possible.length ) )
                }
                
                return className
            },
            
            _replaceText( replace ) {
                let sel, range

                if ( window.getSelection ) {
                    sel = this.selectionObj || window.getSelection()

                    if ( sel.getRangeAt && sel.rangeCount ) {
                        range = sel.getRangeAt( 0 )
                        range.deleteContents()
                        
                        const el = document.createElement( 'div' )
                        
                        el.innerHTML = replace
                        
                        let frag = document.createDocumentFragment(), node, lastNode
                        
                        while ( (node = el.firstChild) ) {
                            lastNode = frag.appendChild( node )
                        }
                        
                        range.insertNode( frag )
                        
                        if ( lastNode ) {
                            range = range.cloneRange()
                            range.setStartAfter( lastNode )
                            range.collapse( true )
                            sel.removeAllRanges()
                            sel.addRange( range )
                        }
                    }
                } else if ( document.selection && document.selection.type != 'Control' ) {
                    document.selection.createRange().pasteHTML( replace )
                }
            },

            _saveSelection() {
                if ( window.getSelection ) {
                    const sel = window.getSelection();

                    if ( sel.getRangeAt && sel.rangeCount ) {
                        return sel.getRangeAt( 0 );
                    }
                } else if ( document.selection && document.selection.createRange ) {
                    return document.selection.createRange();
                }
                return null;
            },

            _restoreSelection( range ) {
                if ( range ) {
                    if ( window.getSelection ) {
                        const sel = window.getSelection();

                        sel.removeAllRanges();
                        sel.addRange( range );
                    } else if ( document.selection && range.select ) {
                        range.select();
                    }
                }
            }
        }
    }
</script>

<style lang="scss" src="../scss/rte.scss"></style>