<template>
    <div id="konsepsyon__toolsbox" class="konsepsyon__toolsbox">
        <div class="konsepsyon__toolsbox__title">Paramètres</div>
        <div class="konsepsyon__toolsbox__section">
            Couleur de fond :
            <compact :value="background" @input="changeBackground"/>
        </div>
        <div class="konsepsyon__toolsbox__title">Textes</div>
        <div class="konsepsyon__toolsbox__section">
            <TitleButton/>
        </div>
        <div class="konsepsyon__toolsbox__title">Colonnes</div>
        <div class="konsepsyon__toolsbox__section">
            <ThreeColsButton/>
            <TwoColsButton/>
            <OneColButton/>
        </div>
        <div class="konsepsyon__toolsbox__title">Actions</div>
        <div class="konsepsyon__toolsbox__section">
            <button @click="save">
                <icon name="save" scale="2"></icon>
                <div class="konsepsyon__toolsbox__button__title">Sauvegarder</div>
            </button>
        </div>
    </div>
</template>

<script>
    import 'vue-awesome/icons/save'
    import { mapState, mapMutations } from 'vuex'
    import Icon from 'vue-awesome/components/Icon'
    import TitleButton from './buttons/TitleButton'
    import ThreeColsButton from './buttons/ThreeColsButton'
    import TwoColsButton from './buttons/TwoColsButton'
    import OneColButton from './buttons/OneColButton'
    import Compact from 'vue-color/src/components/Compact';
    import OneColBloc from './blocs/OneColBloc';

    export default {
        name: 'ToolsBox',

        components: {
            OneColBloc,
            Compact,
            Icon,
            ThreeColsButton,
            TwoColsButton,
            OneColButton,
            TitleButton,
        },

        computed: {
            ...mapState( [ 'rows', 'background' ] )
        },

        methods: {
            ...mapMutations( [ 'changeBackground' ] ),

            save() {
                let template = document.getElementById( 'konsepsyon__preview' ).querySelector('.main_row')
                let html

                template.style.width = '100%'
                template.style.margin= '0 auto'
                
                html = template.outerHTML
                    .replace( /<!---->/g, '')
                    .replace( /(<tr><td>\s*<\/td><\/tr>)/g, '')
                
                console.log( html )
            }
        }
    }
</script>

<style scoped lang="scss" src="../scss/toolsbox.scss"></style>