<template>
    <div id="konsepsyon__toolsbox--top" class="konsepsyon__toolsbox--top">
        <div class="konsepsyon__toolsbox--panel">
            <button @click.prevent="changeMode('mobile')" :class="isActive('mobile')">
                <icon name="mobile-alt"></icon>
            </button>
            <button @click.prevent="changeMode('tablet')" :class="isActive('tablet')">
                <icon name="tablet-alt"></icon>
            </button>
            <button @click.prevent="changeMode('desktop')" :class="isActive('desktop')">
                <icon name="desktop"></icon>
            </button>
        </div>
        <div class="konsepsyon__toolsbox--panel"></div>
        <div class="konsepsyon__toolsbox--panel">
            <button @click.prevent="hideEditables" :class="">
                <icon name="eye-slash"></icon>
            </button>
        </div>
    </div>
</template>

<script>
    import { mapGetters, mapMutations } from 'vuex'
    import 'vue-awesome/icons/mobile-alt'
    import 'vue-awesome/icons/tablet-alt'
    import 'vue-awesome/icons/desktop'
    import 'vue-awesome/icons/eye-slash'
    import Icon from 'vue-awesome/components/Icon'

    export default {
        name: 'ToolsBoxTop',

        components: {
            Icon
        },

        computed: {
            ...mapGetters( [ 'mode' ] )
        },

        methods: {
            ...mapMutations( [ 'changeMode' ] ),

            isActive( mode ) {
                return this.mode === mode ? 'active' : ''
            },

            hideEditables() {
                const $editables = document.querySelectorAll( '[contenteditable]' )

                $editables.forEach( $editable => $editable.classList.toggle( 'hide' ) )
            }
        }
    }
</script>

<style scoped lang="scss" src="../scss/toolsboxtop.scss"></style>