<template>
    <div id="konsepsyon" class="konsepsyon">
        <Preview/>
        <ToolsBox/>
    </div>
</template>

<script>
    import Preview from './components/Preview'
    import ToolsBox from './components/ToolsBox'

    export default {
        name: 'Konsepsyon',

        components: {
            Preview,
            ToolsBox
        }
    }
</script>

<style lang="scss" src="./scss/konsepsyon.scss"></style>
