@import "_vars";

.konsepsyon__image {
    position: absolute;
    left: 0;
    bottom: 0;

    z-index: 100;

    .konsepsyon__image__cancel {
        padding: .5em 1em;

        color: $white;

        background-color: $danger;
        border-radius: 5px;
    }

    button {
        padding: 1em;

        color: $grey;

        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
    }

    form {
        padding: 10px;

        color: $active;

        background-color: $background;
        border-radius: 5px;

        input {
            border: 1px solid $active;
        }

        button {
            color: $active;
        }
    }
}