@import "_vars";

$heightWrapper: 20px;

.konsepsyon__color {
    position: absolute;
    width: 100%;

    text-align: center;

    z-index: 100;

    .vc-compact {
        margin: 0 auto;

        border-radius: 10px;
    }

    .vc-compact-color-item {
        border-radius: 50%;
    }
}