@import "_vars";

html, body,
#app {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#konsepsyon {
    display: table;
    height: 100%;
    width: 100%;
}

.vc-compact {
    height: 20px;

    background-color: $background !important;
    box-shadow: none !important;
    border-radius: 10px;
    overflow: hidden;
}

.vc-compact-color-item {
    border-radius: 50%;
}