@import "_vars";

.konsepsyon__preview {
    display: table-cell;
    vertical-align: top;
    width: calc(100% - 300px);
    height: 100%;

    .main_row {
        width: 100%;
        margin: 0 auto;
        transition: all .5s;
    }

    &.tablet {
        .main_row {
            width: 600px;
        }
    }

    &.mobile {
        .main_row {
            width: 320px;
        }
    }

    &.tablet, &.mobile {
        .responsive {
            display: block;
            width: 100% !important;
            padding: 0 !important;
        }
    }

    [contenteditable] {
        border: 1px dotted $active;

        &.hide {
            border-color: transparent;
        }
    }

    textarea {
        resize: none;
        width: 100%;
        height: 100%;
        margin: 1em 0;
        padding: 0;

        font-family: serif;
        font-size: 1em;
    }
}

@media only screen and (max-width: 600px) {
    .responsive {
        display: block;
        width: 100% !important;
        padding: 0 !important;
    }
}

.row {
    position: relative;

    border: 1px dashed transparent;

    &:hover {
        border-color: $grey;
    }
}