@import "_vars";

.konsepsyon__rte {
    position: fixed;
    padding: 7px 5px 5px;

    font-family: 'Avenir', sans-serif;

    z-index: 900;
    background-color: $background;
    border-radius: 5px;

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        bottom: -10px;

        border-style: solid;
        border-width: 10px 5px 0 5px;
        border-color: $background transparent transparent transparent;
    }

    .sep {
        display: inline-block;
        height: 15px;

        border-left: 1px solid $active
    }

    .remove, .unlink {
        color: $danger;
    }

    .konsepsyon__rte__actions {
        text-align: center;
    }

    .vc-compact {
        margin: 0 auto;
    }

    button {
        color: $white;

        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: color .2s;

        &.active {
            color: $active;
        }
    }

    form {
        margin: .5em 0;
    }

    input {
        padding: 5px;

        color: $white;

        background-color: transparent;
        border: 1px solid $active;

        &.large {
            width: 80%;
        }

        &.verry {
            width: 254px;
        }
    }

    label {
        color: $white;
    }

}