@import "_vars";

$fontColor: #a0aabf;

.konsepsyon__toolsbox {
    display: table-cell;
    width: 300px;
    height: 100%;

    color: $fontColor;
    font-family: 'Avenir', sans-serif;

    background-color: $background;
}

.konsepsyon__toolsbox__button__title {
    text-align: center;
    font-size: .9em;
}

.konsepsyon__toolsbox__title {
    padding: .5em 1em;

    background-color: $darkerBackground;
    border-bottom: 1px solid black;
}

.konsepsyon__toolsbox__section {
    padding: 16px;

    button {
        padding: .5em;
        min-width: 80px;
        height: 80px;
        margin-right: 5px;

        color: $fontColor;

        border: 1px solid $grey;
        border-radius: 5px;
        cursor: pointer;
        background-color: transparent;

        &:hover {
            color: $active;
        }
    }
}