@import "_vars";

.konsepsyon__toolsbox--top {
	width: 100%;
	height: 35px;
	padding: 0 10px;

	line-height: 40px;

	background-color: $darkerBackground;

	.konsepsyon__toolsbox--panel {
		display: inline-block;
		width: 33%;

		&:nth-child(2) {
			text-align: center;
		}

		&:last-child {
			text-align: right;
		}
	}

	button {
		color: $fontColor;

		background-color: transparent;
		border: none;
		cursor: pointer;

		&.active {
			color: $active;
		}
	}
}