<template>
	<table class="row one-col-row" style="width: 100%;" :style="{verticalAlign: 'top', padding: '1em', backgroundColor: '#fff', margin: '0 auto', maxWidth: '960px'}">
		<tr>
			<td>
				<Delete v-if="showTools" :index="index" />
				<Copy v-if="showTools" :index="index" />
			</td>
		</tr>
		<tr>
			<td>
				<table :style="{width: '100%', maxWidth: '960px', margin: '0 auto'}">
					<tr style="vertical-align: top;">
						<td style="padding: 0 10px 0 0; width: 50%;">
							<p data-target="content" contenteditable @blur="onEdit" @click="displayRTE">{{ data.content }}</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<Color v-if="showTools" :toColorize="toColorize()" :index="index" />
				<BkgImg v-if="showTools || bkgForm === index" :toColorize="toColorize()" :index="index"></BkgImg>
			</td>
		</tr>
	</table>
</template>

<script>
	import Bloc from '../Bloc'

	export default {
		name: 'OneColBloc',

		extends: Bloc,

		data () {
			return {
				type: 'OneColBloc',
			}
		},

        methods: {
            toColorize () {
                return document.querySelector('.one-col-row')
            }
        }
	}
</script>