<template>
	<table :class="'row ' + className +  '-one-row'" :style="appearance">
		<tr>
			<td>
				<Delete v-if="showTools" :index="index" />
				<Copy v-if="showTools" :index="index" />
				<DragHand v-if="showTools" :index="index" :isLast="isLast" />
			</td>
		</tr>
		<tr>
			<td>
				<table :style="{width: '100%', maxWidth: '960px', margin: '0 auto'}">
					<tr>
						<td>
							<h1 data-target="title" contenteditable @blur="onEdit" @click="displayRTE" v-html="data.title"></h1>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<Color v-if="showTools" :toColorize="toColorize()" :index="index" />
				<BkgImg v-if="showTools || bkgForm === index" :toColorize="toColorize()" :index="index"></BkgImg>
			</td>
		</tr>
	</table>
</template>

<script>
	import Bloc from '../Bloc'

	export default {
		name: 'TitleBloc',

		extends: Bloc,

		data () {
			return {
				type: 'TitleBloc',
				title: 'Mon titre'
			}
		},

		methods: {
            toColorize () {
                return document.querySelector('.' + this.className + '-one-row')
            }
        }
	}
</script>