<template>
	<table :class="'row ' + className + '-two-row'" style="width: 100%;" :style="appearance">
		<tr>
			<td>
				<Delete v-if="showTools" :index="index" />
				<Copy v-if="showTools" :index="index" />
				<DragHand v-if="showTools" :index="index" :isLast="isLast" />
			</td>
		</tr>
		<tr>
			<td>
				<table slot="test" :style="{width: '100%', maxWidth: '960px', margin: '0 auto'}">
					<tr style="vertical-align: top;">
						<td class="responsive" style="padding: 0 10px 0 0; width: 50%;">
							<p data-target="content1" contenteditable @blur="onEdit" @click="displayRTE" v-html="data.content1"></p>
						</td>
						<td class="responsive" style="padding: 0 10px; width: 50%;">
							<p data-target="content2" contenteditable @blur="onEdit" @click="displayRTE" v-html="data.content2"></p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<Color v-if="showTools" :toColorize="toColorize()" :index="index" />
				<BkgImg v-if="showTools || bkgForm === index" :toColorize="toColorize()" :index="index"></BkgImg>
			</td>
		</tr>
	</table>
</template>

<script>
	import Bloc from '../Bloc'

	export default {
		name: 'TwoColsBloc',

		extends: Bloc,

		data () {
			return {
				type: 'TwoColsBloc',
			}
		},

        methods: {
            toColorize () {
                return document.querySelector('.' + this.className + '-two-row')
            }
        }
	}
</script>